# Data folder
[dD][aA][tT][aA]/

# Derived data
DerivedData/

# Libraries
Libraries/

# User preferences
userPreferences.*/

# Uncomment (remove the following # ) to ignore Trash
# Project/Trash

# System files
.DS_Store
ehthumbs.db
Thumbs.db

# build settings
Settings/buildApp.4DSettings

# Backup
Backup/
backupHistory.json
Components/
OpenAI.token
xAI.token
Groq.token
Azure.token
Cohere.token
Gemini.token
NVIDIA.token
Mistral.token
OpenRouter.token
Perplexity.token
DeepInfra.token
Claude.token
DeepSeek.token
HuggingFace.token
Moonshot.token
