 rectangle.background {
	 stroke: transparent;
	 strokeWidth: 0;
	 fill: automatic;
 }	
 
 tab {
	 fontSize: 16;
	 fontFamily: "Avenir Light";
 }
 
@media (prefers-color-scheme: light) {

}

@media (prefers-color-scheme: dark) {

}